:root{
    --blue: #0057E7;
    --green: #06BF66;
    --black-blue: #001C49;
    --sub-blue: #E5EEFD;
    --white: #ffffff;

    --font-main: 'Manrope', sans-serif;
    --font-title: 'Manrope', sans-serif;
    --font-text: 'Manrope', sans-serif;
}
