h1, .h1{
    
}
h2, .h2{
    font-family: var(--font-title);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    color: var(--blue);
}
h3, .h3{
    font-family: var(--font-title);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    color: var(--blue);
}
h4, .h4{
font-family: var(--font-title);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    color: var(--blue);
}
h5, .h5{
font-family: var(--font-title);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    color: var(--blue);
}
